# VacationPy
----

In [41]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [17]:
#load the csv from prior exercise
weather_data_csv = "weather_data.csv"

#read weather data csv files and store into df, check last 5 rows
weather_data_df = pd.read_csv(weather_data_csv)
weather_data_df.tail()

,City,Country,Date,Latitude,Longtitude,Cloudiness,Humidity,Max Temp,Wind Speed
579,Zhangaözen,KZ,1619373376,43.3000,52.8000,27,31,293.17,1.86
580,Asenovgrad,BG,1619373377,42.0167,24.8667,21,50,287.15,3.09
581,Bentiu,SS,1619373000,9.2333,29.8333,71,54,301.25,3.64
582,Trairi,BR,1619372980,-3.2778,-39.2689,85,68,301.78,4.33
583,Salina,US,1619373377,38.8403,-97.6114,1,49,296.48,9.77

In [18]:
#weather in standard units sorted to get range
weather_data_df.sort_values(by = 'Max Temp', ascending = False)

,City,Country,Date,Latitude,Longtitude,Cloudiness,Humidity,Max Temp,Wind Speed
512,Bakel,SN,1619373358,14.9050,-12.4568,24,9,314.21,5.61
209,Goundam,ML,1619373092,16.4145,-3.6708,29,6,312.27,2.21
502,Arlit,NE,1619373354,18.7369,7.3853,95,8,310.33,3.52
141,Tessalit,ML,1619373256,20.1986,1.0114,0,5,309.95,3.30
9,Ţahţā,EG,1619372982,26.7693,31.5021,0,6,309.15,3.09
...,...,...,...,...,...,...,...,...,...
396,Ust-Nera,RU,1619373323,64.5667,143.2000,72,98,255.22,1.32
112,Zyryanka,RU,1619373251,65.7500,150.8500,5,94,254.92,3.32
87,Talnakh,RU,1619373043,69.4865,88.3972,74,96,254.52,0.92
236,Kayerkan,RU,1619373280,69.3497,87.7602,98,99,254.33,1.53
379,Srednekolymsk,RU,1619372913,67.4500,153.6833,29,99,253.04,2.12

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [19]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [20]:
#change data as float and store to variables before configuring map and layer
humidity = weather_data_df['Humidity'].astype(float)
locations = weather_data_df[["Latitude", "Longtitude"]].astype(float)

In [21]:
# create map w/out calling
fig = gmaps.figure()

# Create a Heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=50,
                                 point_radius = 1)
#add heatmap
fig.add_layer(heat_layer)

#display map
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [22]:
#temp is in standard units ideal Max <=303 kelvin = ~86F, and >=295 kelvin = ~ 72, use loc, &, and .dropna
ideal_weathr_df = weather_data_df.loc[(weather_data_df["Wind Speed"] <= 10) & 
                                        (weather_data_df["Cloudiness"] == 0) & \
                                           (weather_data_df["Max Temp"] >= 295) & 
                                            (weather_data_df["Max Temp"] <= 303)].dropna()

ideal_weathr_df

,City,Country,Date,Latitude,Longtitude,Cloudiness,Humidity,Max Temp,Wind Speed
10,Santiago del Estero,AR,1619373233,-27.7951,-64.2615,0,37,296.88,2.70
13,Iquique,CL,1619372979,-20.2208,-70.1431,0,46,295.15,7.72
49,Arraial do Cabo,BR,1619372994,-22.9661,-42.0278,0,65,302.15,4.12
129,Paita,PE,1619373006,-5.0892,-81.1144,0,61,300.15,6.17
153,Laas,IT,1619373100,46.6166,10.7002,0,35,296.15,3.09
183,Kharan,PK,1619373267,28.5833,65.4167,0,10,302.90,2.05
193,Udalguri,IN,1619373270,26.7667,92.1333,0,30,299.44,1.00
201,Sarakhs,IR,1619373272,36.5449,61.1577,0,19,300.15,4.12
232,Sabha,LY,1619373279,27.0377,14.4283,0,19,299.91,3.87
255,Vallenar,CL,1619372945,-28.5708,-70.7581,0,29,299.74,2.78
260,Jalu,LY,1619372951,29.0331,21.5482,0,42,295.52,7.08
352,Port Said,EG,1619373312,31.2565,32.2841,0,64,295.15,3.09
391,Pa Daet,TH,1619373322,19.5049,99.9924,0,89,300.15,1.54
408,Upington,ZA,1619373327,-28.4478,21.2561,0,19,298.15,1.54
425,Esfarāyen,IR,1619373033,37.0765,57.5101,0,26,295.15,3.09
470,Umluj,SA,1619373111,25.0213,37.2685,0,50,301.39,0.18
558,Turaif,SA,1619373077,31.6725,38.6637,0,23,301.15,4.12

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [23]:
hotel_df = ideal_weathr_df
hotel_df["Hotel Name"]= ""
hotel_df

,City,Country,Date,Latitude,Longtitude,Cloudiness,Humidity,Max Temp,Wind Speed,Hotel Name
10,Santiago del Estero,AR,1619373233,-27.7951,-64.2615,0,37,296.88,2.70,
13,Iquique,CL,1619372979,-20.2208,-70.1431,0,46,295.15,7.72,
49,Arraial do Cabo,BR,1619372994,-22.9661,-42.0278,0,65,302.15,4.12,
129,Paita,PE,1619373006,-5.0892,-81.1144,0,61,300.15,6.17,
153,Laas,IT,1619373100,46.6166,10.7002,0,35,296.15,3.09,
183,Kharan,PK,1619373267,28.5833,65.4167,0,10,302.90,2.05,
193,Udalguri,IN,1619373270,26.7667,92.1333,0,30,299.44,1.00,
201,Sarakhs,IR,1619373272,36.5449,61.1577,0,19,300.15,4.12,
232,Sabha,LY,1619373279,27.0377,14.4283,0,19,299.91,3.87,
255,Vallenar,CL,1619372945,-28.5708,-70.7581,0,29,299.74,2.78,
260,Jalu,LY,1619372951,29.0331,21.5482,0,42,295.52,7.08,
352,Port Said,EG,1619373312,31.2565,32.2841,0,64,295.15,3.09,
391,Pa Daet,TH,1619373322,19.5049,99.9924,0,89,300.15,1.54,
408,Upington,ZA,1619373327,-28.4478,21.2561,0,19,298.15,1.54,
425,Esfarāyen,IR,1619373033,37.0765,57.5101,0,26,295.15,3.09,
470,Umluj,SA,1619373111,25.0213,37.2685,0,50,301.39,0.18,
558,Turaif,SA,1619373077,31.6725,38.6637,0,23,301.15,4.12,

In [24]:
#create request beginning with the base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#include the parameters with the api key, will add location through the for loop
param = {"keyword" : "hotel",
                  "radius" : 5000,
                      "key" : g_key}

In [42]:
#pull the information in from the df for the for loop
for index, row in hotel_df.iterrows():
    lati = row["Latitude"]
    long = row["Longtitude"]
    city_name = row["City"]
    
    # add location to the parameter dictionary for the search
    param["location"] = f"{lati},{long}"

    # assemble url and make API request to get results
    response = requests.get(base_url, params=param).json()
    results = response['results']
    
    #append results to df, skipping any errors
    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    except (KeyError, IndexError):
        #skip to next location
        
        #added delay to resolve error in timing
        time.sleep(1)

In [57]:
#call df to see list of nearest hotels
hotel_df

,City,Country,Date,Latitude,Longtitude,Cloudiness,Humidity,Max Temp,Wind Speed,Hotel Name
10,Santiago del Estero,AR,1619373233,-27.7951,-64.2615,0,37,296.88,2.70,Hotel Altos del Estero
13,Iquique,CL,1619372979,-20.2208,-70.1431,0,46,295.15,7.72,Hotel NH Iquique
49,Arraial do Cabo,BR,1619372994,-22.9661,-42.0278,0,65,302.15,4.12,Ocean View Hotel
129,Paita,PE,1619373006,-5.0892,-81.1144,0,61,300.15,6.17,Hotel Buongiorno
153,Laas,IT,1619373100,46.6166,10.7002,0,35,296.15,3.09,Gasthof Zur Sonne
183,Kharan,PK,1619373267,28.5833,65.4167,0,10,302.90,2.05,MCB
193,Udalguri,IN,1619373270,26.7667,92.1333,0,30,299.44,1.00,OYO 65806 Hotel Famy Palace
201,Sarakhs,IR,1619373272,36.5449,61.1577,0,19,300.15,4.12,Doosti Hotel
232,Sabha,LY,1619373279,27.0377,14.4283,0,19,299.91,3.87,فندق المواجيد
255,Vallenar,CL,1619372945,-28.5708,-70.7581,0,29,299.74,2.78,Hotel Solaris
260,Jalu,LY,1619372951,29.0331,21.5482,0,42,295.52,7.08,Jalu Hotel
352,Port Said,EG,1619373312,31.2565,32.2841,0,64,295.15,3.09,فندق رستا بورسعيد Resta Port Said Hotel
391,Pa Daet,TH,1619373322,19.5049,99.9924,0,89,300.15,1.54,
408,Upington,ZA,1619373327,-28.4478,21.2561,0,19,298.15,1.54,Protea Hotel by Marriott Upington
425,Esfarāyen,IR,1619373033,37.0765,57.5101,0,26,295.15,3.09,مهمانپذیر آفتاب
470,Umluj,SA,1619373111,25.0213,37.2685,0,50,301.39,0.18,HP Red Sea Hotel
558,Turaif,SA,1619373077,31.6725,38.6637,0,23,301.15,4.12,Golden Dune Hotel

In [61]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longtitude"]]

In [64]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations,hover_text='Closest Hotel', info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))